@font-face {
    font-family: 'TitilliumWeb';
    src: url('/public/fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.calendar-page {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 100px;
}

.welcome {
    width: 50%;
}

.welcome-message {
    text-align: left;
    color: white;
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 50px;
}

.day {
    width: 380px;
    background-color: #79E7FF80;
    border-radius: 20px;
    padding: 10px;
}

.day-header {
    text-align: left;
    margin: 5px;
    color: white;
    font-size: 30px;
    font-family: 'TitilliumWeb', Arial, sans-serif;
    text-shadow: 
        -1px -1px rgba(0, 0, 0, 0.5),
        1px -1px rgba(0, 0, 0, 0.5),
        -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px rgba(0, 0, 0, 0.5)
}

.day-normal {
    text-align: left;
    margin: 5px;
    color: white;
    font-size: 21px;
    font-family: 'TitilliumWeb', Arial, sans-serif;
    text-shadow: 
        -1px -1px rgba(0, 0, 0, 0.5),
        1px -1px rgba(0, 0, 0, 0.5),
        -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px rgba(0, 0, 0, 0.5)
}

.event, .allday-event {
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.event {
    display: flex;
    justify-content: space-evenly;
}

.event-left {
    text-align: right;
    margin-top: 2px;
    margin: 3px;
    padding: 3px;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-right {
    text-align: left;
    margin: 3px;
    padding: 3px;
    width: 75%;
}

.event-header {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 21px;
}

.event-normal {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 16px;
}