@font-face {
    font-family: 'TitilliumWeb';
    src: url('/public/fonts/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.calendar-page {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 100px;
}

.welcome {
    width: 50%;
}

.view-calendars-button {
    width: 200px;
    height: 50px;
    margin-top: 10px;

    font-family: 'TitilliumWeb', Arial, sans-serif;
    background-color: white;
    border-radius: 10px;
    font-size: 21px;
}

.add-calendar-button {
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-left: 10px;
    background-color: #79E7FF;
    border: none;
    border-radius: 10px;
}

.calendars-container {
    width: 300px;
    height: fit-content;
    margin-top: 10px;
}

.calendar {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.calendar-header {
    display: flex;
}

.calendar-name {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 21px;
}

.calendar-description {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 16px;
}

.calendar-color {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
}

.calendar-edit-button, .calendar-delete-button {
    float: right;
    background-color: white;
    border-radius: 5px;
    width: 50px;
    height: 25px;
}

.calendar-delete-button {
    background-color: red;
    color: white;
}

.calendar-name-input {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    width: 60%;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.calendar-color-input {
    width: 30;
    height: 30px;
    border-radius: 5px;
}

.calendar-description-input {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    margin-top: 10px;
    border-radius: 5px;
    width: 95%;
    height: 20px;
    padding: 5px;
}

.calendar-save-button {
    margin-top: 10px;
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome-message {
    text-align: left;
    color: white;
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 50px;
}

.day {
    width: 380px;
    background-color: #79E7FF80;
    border-radius: 20px;
    padding: 10px;
}

.day-header {
    text-align: left;
    margin: 5px;
    color: white;
    font-size: 30px;
    font-family: 'TitilliumWeb', Arial, sans-serif;
    text-shadow: 
        -1px -1px rgba(0, 0, 0, 0.5),
        1px -1px rgba(0, 0, 0, 0.5),
        -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px rgba(0, 0, 0, 0.5)
}

.day-normal {
    text-align: left;
    margin: 5px;
    color: white;
    font-size: 21px;
    font-family: 'TitilliumWeb', Arial, sans-serif;
    text-shadow: 
        -1px -1px rgba(0, 0, 0, 0.5),
        1px -1px rgba(0, 0, 0, 0.5),
        -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px rgba(0, 0, 0, 0.5)
}

.event, .allday-event {
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.event {
    display: flex;
    justify-content: space-evenly;
}

.event-left {
    text-align: right;
    margin-top: 2px;
    margin: 3px;
    padding: 3px;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-right {
    text-align: left;
    margin: 3px;
    padding: 3px;
    width: 75%;
}

.event-header {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 21px;
}

.event-normal {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 16px;
}

.event-edit-form {
    width: 100%;
}

.event-input-label {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 16px;
    width: 100px;
    margin: 5px;
}

.event-date-input {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
}

.event-text-input {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    width: calc(100% - 16px)
}

.event-dropdown-input {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
}

.event-back-button, .event-edit-button {
    float: right;
    font-family: 'TitilliumWeb', Arial, sans-serif;
    margin: 5px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}

.event-color-input {
    margin: 5px;
    border-radius: 5px;
    width: 50px;
    height: 23px;
}

.event-edit-button {
    margin: 0px;
}

.event-save-button {
    font-family: 'TitilliumWeb', Arial, sans-serif;
    display: block;
    margin-left: auto;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 75px;
    height: 30px;
    background-color: white;
}